<div style="background-color: mediumaquamarine;display:flex; justify-content:space-around; width:100%;">
    <h2 style="color: mintcream;"><%= user%></h2>

      <a class="btn btn-dark" href="/logout">logout</a>
    
      <a class="btn btn-light" href="/addProduct">Products Page</a>

  </div>