<%- include("partials/upper") %>


    <div class="container"></div>
        <div class="row">
            <a href="/signUp" ><button class=" w-50 btn btn-primary btn-lg " type="button">sign up</button></a>
    
            <a href="/logIn" ><button class="w-50 btn btn-info btn-lg" type="button">login In</button></a>     
        </div>

         </div>

<%- include("partials/lower") %>
